name: Deploy
on:
  release:
    types: [published]



jobs:
  print-hello-world:
    if: ${{ contains(github.ref_name, 'testproj1') || contains(github.ref_name, 'testproj2') }}
    runs-on: ubuntu-latest
    concurrency:
      group: 'deploy stage'
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v2
      - run: echo "Deploying"